body {
	width:80%;
	margin-left:auto;
	margin-right:auto;
}

main {
	border-style: solid;
	border-width: 1px 5px;
}

header {
	text-align:right;
}

.leftColumn {
	vertical-align:top;
	width: 49%;
	text-align:left;
	display:inline-block;
}

.rightColumn {
	vertical-align:top;
	width: 49%;
	text-align:left;
	display:inline-block;
}

.attributes {
	display:block;
}

.attribute {
	display:block;
}

.attributeName {
	display:inline-block;
	width:10%;
	font-weight:bold;
}
.attributeValue {
	display:inline-block;
	width:5%;
	border-width:1px 1px;
	border-style:solid;
	text-align:right;
}
.attributeBonus {
	display:inline-block;
	width:5%;
	text-align:right;
}
.attributeSave {
	display:inline-block;
	width:10%
}
.attributeSaveProf {
	display:inline-block;
	width:10%
}

.skills {
	margin-bottom:1%;
	display:block;
}

.skill {
width:50%;
	display:block;
}
.skillName {
	width:35%;
	display:inline-block;
}
.skillProf {
	width:20%;
	display:inline-block;
}
.skillBonus {
	width:20%;
	display:inline-block;
}

.saves {
}

label {
	font-weight:bold;
}

.attributeLabel {
}
